.archives-container {
  margin: 1.875rem 1.875rem 0;
  padding-right: 3.75rem;
  display: flex;
  align-items: flex-start;
  border-bottom: 1px solid #2f2f2f;

  a {
    text-decoration: none;
  }

  .archive-year {
    font-size: 1.75rem;
    line-height: 2.125rem;
    flex-shrink: 0;
    width: 9.475rem;
    margin-top: 1.25rem;
  }

  .archive {
    flex: 1;

    .archive-article {
      padding: 1.25rem 0;
      font-size: 1rem;
      border-bottom: 1px solid #2f2f2f;

      &:last-child {
        border-bottom: none;
      }
    }

    .archive-title-container {
      display: flex;
      align-items: center;

      .archive-title {
        flex: 1;

        a {
          color: #999;

          &:hover {
            color: #fff;
          }
        }
      }

      time {
        font-size: 0.75rem;
        color: #aaa;
        cursor: default;

        &::before {
          content: "\f073";
          color: #999;
          position: relative;
          margin-right: 0.625rem;
          font: 0.875rem FontAwesome;
        }
      }
    }
  }
}
